/* :root {
  --hero-background: url("");
} */

.hero {
  /* background-image: url("http://localhost:8001/static/industrial-959c3028702d48359fbe94780ad92c81.jpg"); */
  background-color: #333!important;
  background-image: url('http://localhost:8001/static/backlit-clouds-dark-0898c21569861199a7f76a86194ab186.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 75vh;
}

.hero-body {
  background: hsla(36, 56%, 56%, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
