#footer {
  background-color: #333;
  color: #f5f5f5;
  padding: 3rem 1.5rem 4rem;
}

#footer a,
#footer a:visited {
  color: #f05622;
}

#footer a:focus,
#footer a:active,
#footer a:hover {
  color: #de7a58;
}

nav a {
  display: block;
}

#footer a.active {
  color: #fff;
}
